In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("D:\\csv files\\covid_toy.csv")

In [3]:
df.head() # top 5 data

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
df.tail()  # bottom 5 data

    age  gender  fever   cough       city has_covid
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

In [5]:
df.tail(2) #bottom 2 data

    age  gender  fever   cough     city has_covid
98    5  Female   98.0  Strong   Mumbai        No
99   10  Female   98.0  Strong  Kolkata       Yes

In [6]:
df.sample(5)  # random indexed data

    age  gender  fever cough       city has_covid
3    31  Female   98.0  Mild    Kolkata        No
38   49  Female  101.0  Mild      Delhi       Yes
45   72    Male   99.0  Mild  Bangalore        No
1    27    Male  100.0  Mild      Delhi       Yes
66   51    Male  104.0  Mild    Kolkata        No

In [7]:
df.columns

Index(['age', 'gender', 'fever', 'cough', 'city', 'has_covid'], dtype='object')

In [8]:
df.info() # tells info about data type , memory

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [9]:
df.describe() # statistically view of mathematical colums

              age       fever
count  100.000000   90.000000
mean    44.220000  100.844444
std     24.878931    2.054926
min      5.000000   98.000000
25%     20.000000   99.000000
50%     45.000000  101.000000
75%     66.500000  102.750000
max     84.000000  104.000000

In [10]:
df["gender"].value_counts()

Female    59
Male      41
Name: gender, dtype: int64

In [11]:
df["cough"].value_counts()  # value_counts return the total of sun_categories in a particular column .

Mild      62
Strong    38
Name: cough, dtype: int64

In [12]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [13]:
df['has_covid'].value_counts()

No     55
Yes    45
Name: has_covid, dtype: int64

In [14]:
df.shape # total rows and columns

(100, 6)

In [15]:
print("Rate of +ve cases",45/100*100)
print("Rate of -ve cases",55/100*100)

Rate of +ve cases 45.0
Rate of -ve cases 55.00000000000001

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
a = pd.Series([1,2,3,4])  # 1 dimensional
a

0    1
1    2
2    3
3    4
dtype: int64

In [18]:
type(a)

pandas.core.series.Series

In [19]:
# df.loc[2 : 5 ,["gender" , "fewer" , "cough"]]
df.loc[2:5 , ]

   age  gender  fever cough       city has_covid
2   42    Male  101.0  Mild      Delhi        No
3   31  Female   98.0  Mild    Kolkata        No
4   65  Female  101.0  Mild     Mumbai        No
5   84  Female    NaN  Mild  Bangalore       Yes

In [20]:
df.iloc[2:5 , 0:3]

   age  gender  fever
2   42    Male  101.0
3   31  Female   98.0
4   65  Female  101.0

In [21]:
df["age"].min()

5

In [22]:
df["age"].max()

84

In [23]:
df["age"].mean()

44.22

In [24]:
df['Delhi'] = df['has_covid'].where(df['city'] == 'Delhi' , other = 0)

In [25]:
df.sample(9)

    age  gender  fever   cough       city has_covid Delhi
23   80  Female   98.0    Mild      Delhi       Yes   Yes
4    65  Female  101.0    Mild     Mumbai        No     0
86   25    Male  104.0    Mild  Bangalore       Yes     0
29   34  Female    NaN  Strong     Mumbai       Yes     0
40   49  Female  102.0    Mild      Delhi        No    No
71   75  Female  104.0  Strong      Delhi        No    No
30   15    Male  101.0    Mild      Delhi       Yes   Yes
52   47  Female  100.0  Strong  Bangalore       Yes     0
6    14    Male  101.0  Strong  Bangalore        No     0

In [26]:
df['Delhi'].value_counts

<bound method IndexOpsMixin.value_counts of 0       0
1     Yes
2      No
3       0
4       0
     ...
95      0
96      0
97      0
98      0
99      0
Name: Delhi, Length: 100, dtype: object>

In [27]:
df['Bangalore'] = df['has_covid'].where(df['city'] == 'Bangalore' , other = 0)

In [28]:
df['Kolkata'] = df['has_covid'].where(df['city'] == 'Kolkata' , other = 0)

In [29]:
df['Mumbai'] = df['has_covid'].where(df['city'] == 'Mumbai' , other = 0)

In [30]:
df.sample(20)

,age,gender,fever,cough,city,has_covid,Delhi,Bangalore,Kolkata,Mumbai
33,26,Female,98.0,Mild,Kolkata,No,0,0,No,0
7,20,Female,NaN,Strong,Mumbai,Yes,0,0,0,Yes
58,23,Male,98.0,Strong,Mumbai,Yes,0,0,0,Yes
37,55,Male,100.0,Mild,Kolkata,No,0,0,No,0
82,24,Male,98.0,Mild,Kolkata,Yes,0,0,Yes,0
84,69,Female,98.0,Strong,Mumbai,No,0,0,0,No
91,38,Male,NaN,Mild,Delhi,Yes,Yes,0,0,0
55,81,Female,101.0,Mild,Mumbai,Yes,0,0,0,Yes
0,60,Male,103.0,Mild,Kolkata,No,0,0,No,0
48,66,Male,99.0,Strong,Bangalore,No,0,No,0,0
36,38,Female,101.0,Mild,Bangalore,No,0,No,0,0
71,75,Female,104.0,Strong,Delhi,No,No,0,0,0
78,11,Male,100.0,Mild,Bangalore,Yes,0,Yes,0,0
4,65,Female,101.0,Mild,Mumbai,No,0,0,0,No
56,71,Male,NaN,Strong,Kolkata,No,0,0,No,0
57,49,Female,99.0,Strong,Bangalore,No,0,No,0,0
39,50,Female,103.0,Mild,Kolkata,No,0,0,No,0
81,65,Male,99.0,Mild,Delhi,No,No,0,0,0
67,65,Male,99.0,Mild,Bangalore,No,0,No,0,0
79,48,Female,103.0,Mild,Kolkata,Yes,0,0,Yes,0

In [31]:
df['Bangalore'].value_counts

<bound method IndexOpsMixin.value_counts of 0      0
1      0
2      0
3      0
4      0
      ..
95    No
96     0
97    No
98     0
99     0
Name: Bangalore, Length: 100, dtype: object>

In [32]:
df['Strong'] = df['has_covid'].where(df['cough'] == 'Strong' )
df['Strong'].value_counts()

No     23
Yes    15
Name: Strong, dtype: int64

In [33]:
print("Rate of +ve Strong covid ",15/38*100)
print("Rate of -ve Strong covid",23/38*100)

Rate of +ve Strong covid  39.473684210526315
Rate of -ve Strong covid 60.526315789473685

In [34]:
df['Mild'] = df['has_covid'].where(df['cough'] == 'Mild')
df['Mild'].value_counts()

No     32
Yes    30
Name: Mild, dtype: int64

In [35]:
df['Male'] = df['has_covid'].where(df['gender'] == 'Male')
df['Male'].value_counts()

No     21
Yes    20
Name: Male, dtype: int64

In [36]:
df['Female'] = df['has_covid'].where(df['gender'] == 'Female')
df['Female'].value_counts()

No     34
Yes    25
Name: Female, dtype: int64